@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-poppins;
}

.hover-icon .fa-arrow-right {
  position: absolute;
  right: 10px;
  opacity: 0;
  transform: translateX(10px);
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.hover-icon:hover .fa-arrow-right {
  opacity: 1;
  transform: translateX(0);
}

.rc-slider-handle:active {
  border: 4px solid;
}

.PhoneInputInput:focus-visible {
  outline: none;
}
